body{background-color: white;}
header{background-color: rgb(94, 139, 50);text-align: center;}
button{text-align:center;color: rgb(94, 139, 50) ; background-color: bisque; border: solid bisque;border-radius: 30px;height: 30px;width: 90px;}
button a {text-decoration: none;
  color: #2e8b57;
font-weight: bold;
font-style: italic;
font-size: 17px;}
#a{text-align: center;color: white;font-style: italic;}
#z{color: white;}
ul li {
  display: inline;
  margin: 0 1rem;
}

nav {
  background-color:antiquewhite;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #2e8b57;
font-weight: bold;
font-style: italic;
font-size: 17px;
}
h2{color: #2e8b57;font-weight: bold;font-style: italic;text-align: left;}
.aa{color: rgb(85, 37, 3);font-size: 20px;}
strong{color: #2e8b57;font-weight: bold; font-size: 20px;}
table{margin: auto;}
img{height: 320px;width: 380px;border: solid rgb(54, 88, 20) 6px;border-radius: 30px;}
.p{text-align: center;color: #2e8b57;font-weight: bold;font-size: 15px;}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table, th, td {
  border: 1px solid #ccc;
}

th {
  background-color: rgb(94, 139, 50);
  color: white;
}

th, td {
  padding: 0.75rem;
  text-align: left;
}
.mm{color: #2e8b57;font-weight: bold;font-style: italic;text-align: left; margin: left 800px;}
.ll{text-decoration: none;
  color: #2e8b57;
font-weight: bold;
font-style: italic;
font-size: 30px;}
.v{display: block;}